@import '../../foundations/mixin.scss';

.l-mobile-header {
  // display: none;
  position: relative;
  z-index: 1000;

  @media (max-width: 1076px) {
    display: block;
  }
}

.c-mobile-header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #333;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  // padding: 0 16px;
}

.c-mobile-header-brand {
  &__brand {
    max-width: 250px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 8px;
  }
}

.c-mobile-header-nav {
  max-width: 335px;
  width: 100%;
  // height: calc(100vh - 60px);
  height: 100vh;
  position: absolute;
  z-index: 5;
  // top: 60px;
  right: -335px;
  // left: 0;
  background-color: #00432e;
  // display: none;
  transition: 0.3s;

  &__a {
    display: block;
    color: #f8f9f7;
    text-decoration: none !important;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
}

.p-nav-from-right-to-left {
  right: 0;
}

.nav-from-left-to-right {
  right: -335px;
}

.c-menubar,
.c-menubar span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.c-menubar {
  position: absolute;
  z-index: 6;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 30px;
  cursor: pointer;

  &::after {
    content: 'MENU';
    position: absolute;
    bottom: -22px;
    left: 3px;
    font-size: 8px;
    color: #fff;
  }
}

.c-menubar-wrap {
  background: #005c3f;
  width: 52px;
  position: relative;
  z-index: 27;
  display: none;

  @include mqd(md) {
    display: block;
  }
}

.c-menubar.active {
  &::after {
    content: 'CLOSE';
    position: absolute;
    bottom: -22px;
    left: 3px;
    font-size: 8px;
    color: #fff;
  }
}

.c-menubar span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f8f9f7;
}

.c-menubar span:nth-of-type(1) {
  top: 0;
}

.c-menubar span:nth-of-type(2) {
  top: 13px;
}

.c-menubar span:nth-of-type(3) {
  bottom: 0;
}

.c-menubar.active span:nth-of-type(1) {
  -webkit-transform: translateY(13px) rotate(-45deg);
  transform: translateY(13px) rotate(-45deg);
}

.c-menubar.active span:nth-of-type(2) {
  opacity: 0;
}

.c-menubar.active span:nth-of-type(3) {
  -webkit-transform: translateY(-13px) rotate(45deg);
  transform: translateY(-13px) rotate(45deg);
}

.c-menubar-inside-item {
  //
}
