@import '../../foundations/mixin.scss';

.n-container {
  width: 100%;
  padding: 0 16px;
}

.n-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.n-row2 {
  display: flex;
  flex-wrap: wrap;
}

.n-col {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

.n-col-12 {
  max-width: 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.n-col-6 {
  max-width: 50%;
  flex: 0 0 50%;
  padding-right: 16px;
  padding-left: 16px;
}

.n-col-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  padding-right: 16px;
  padding-left: 16px;
}

.Bold {
  font-weight: bold !important;
}

.FwInitial {
  font-weight: initial !important;
}

.Tac {
  text-align: center !important;
}

.Tal {
  text-align: left !important;
}

.Tar {
  text-align: right !important;
}

.P0 {
  padding: 0 !important;
}

.M0 {
  margin: 0 !important;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100% !important;
}

.Ha {
  height: auto !important;
}

.Cfff {
  color: #fff !important;
}

.C000 {
  color: #000 !important;
}

.Cf8f9f7 {
  color: #f8f7f9 !important;
}

.bgfff {
  background: #fff !important;
}

.df {
  display: flex !important;
}

.db {
  display: block !important;
}

.pore {
  position: relative !important;
}

.jcc {
  justify-content: center !important;
}

.aic {
  align-items: center !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw8 {
  font-weight: 800;
}

.fw9 {
  font-weight: 900;
}

.is-static {
  position: static !important;
}

.is-sticky {
  position: sticky !important;
}

.is-absolute {
  position: absolute !important;
}

@for $i from 10 through 38 {
  .Fs#{$i} {
    font-size: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .Pt#{$i} {
    padding-top: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .Pr#{$i} {
    padding-right: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .Pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .Pl#{$i} {
    padding-left: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .P#{$i} {
    padding: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .m#{$i} {
    margin: #{$i}px !important;
  }
}

// @for $i from 1 through 1000 {
//   .mw#{$i} {
//     max-width: #{$i}px !important;
//   }
// }

// @for $i from 1 through 1000 {
//   .Mh#{$i} {
//     max-height: #{$i}px !important;
//   }
// }

// @for $i from 1 through 1000 {
//   .Miw#{$i} {
//     min-width: #{$i}px !important;
//   }
// }

// @for $i from 1 through 1000 {
//   .Mih#{$i} {
//     min-height: #{$i}px !important;
//   }
// }

// @for $i from 1 through 100 {
//   .z#{$i} {
//     z-index: #{$i} !important;
//   }
// }

// @for $i from 1 through 1920 {
//   .D#{$i}None {
//     @media (min-width: #{$i}px) {
//       display: none !important;
//     }
//   }
// }
