@import '../../foundations/mixin.scss';

.c-pagetop {
  right: 0;
  bottom: 0;
  padding-right: 15px;
}

.c-pagetop--is-fixed {
  right: 0;
  bottom: 0;
  position: fixed;
}

.c-pagetop--is-sticky {
  right: -56px;
  bottom: 0;
  position: sticky;

  @include mqd(lg) {
    right: 0;
  }
}

.c-pagetop--is-absolute {
  right: -56px;
  bottom: 0;
  position: absolute;

  @include mqd(lg) {
    right: 0;
  }
}
